@import "reset.css";
@import "variables.css";

@import "screens/login.css";
@import "screens/main_view.css";
@import "screens/book_detail.css";

@import "top_bar.css";
@import "bottom_bar.css";

html, body {
    font-family: "Elice Digital Baeum",sans-serif;
}

body {
    color: #2e363e;
    box-sizing: border-box;
    height: 100%;
}
.vsc-initialized{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #ffffffea;
    height:100%;
}

/* margin: 0 auto로 center 정렬 */
.all_screen{
    margin-top: 100px;
}

