@import "reset.css";
@import "variables.css";

@import "screens/login.css";
@import "screens/main_view.css";
@import "screens/book_detail.css";

@import "top_bar.css";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, 
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #2e363e;
    box-sizing: border-box;
}
.vsc-initialized{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

/* margin: 0 auto로 center 정렬 */
.all_screen{

    margin-top: 100px;
}

