{% extends "base.html" %}

{% block page_content %}
<div class="detail_frame">
  <div class="detail_container">
    <div class="detail_item">
      <img class="detail_img" src="{{ url_for('static', filename='/img/{}'.format(book.img_src)) }}">
    </div>
    <div class="detail_item">
      <table class="table table-hover table-condensed table-bordered">
        <tr class="detail_table_tr">
          <td class="detail_table_info">책이름</td>
          <td class="detail_table_contents" colspan="4">{{ book.name }}</td>
        </tr>

        <tr class="detail_table_tr">
          <td class="detail_table_info">출판사</td>
          <td class="detail_table_contents" colspan="4">{{ book.publisher }}</td>
        </tr>

        <tr class="detail_table_tr">
          <td class="detail_table_info">저자</td>
          <td class="detail_table_contents" colspan="4">{{ book.author }}</td>
        </tr>

        <tr class="detail_table_tr">
          <td class="detail_table_info">출간일</td>
          <td class="detail_table_contents" colspan="4">{{ book.publication_date }}</td>
        </tr>

        <tr class="detail_table_tr">
          <td class="detail_table_info">페이지 수</td>
          <td class="detail_table_contents" colspan="4">{{ book.page }}</td>
        </tr>

        <tr class="detail_table_tr">
          <td class="detail_table_info">ISBN 코드</td>
          <td class="detail_table_contents" colspan="4">{{ book.isbn }}</td>
        </tr>
        <tr>
          <td class="detail_table_info rental_td"></td>
          <td class="detail_table_rental_btn"><a href="{{ url_for('main.book_rental', book_idx=book.idx) }}" class='list_wrap__li__a table_rental'>대여하기</a></td>
        </tr>
      </table>
    </div>
    <div class="detail_item">
      <h3>책 소개</h3>
      <div class="detail_item_description">{{book.description}}</div>
    </div>
    <div class="detail_item">
      <h3>댓글</h3>
        {% for reply in reply_info %}
          <div class="reply-component">
            <div class="reply-component__column">
              <div class="reply-component__star-ratings">
                <div class="reply-component__star-ratings-fill">
                  {% for star in range(reply.rating|int) %}
                    <span>★</span>
                  {% endfor %}
                </div>
                <div class="reply-component__star-ratings-base">
                  <span>★★★★★</span>
                </div>
              </div>
              <div class="reply-component__info">
                <span>{{ reply.user_email}}</span>
                <span> | </span> 
                <span>{{ reply.write_date }}</span>
              </div>
              <div class="reply-component__contents">
                  {{reply.contents}}
              </div>
            </div>
            <div class="reply-component__change">
              <!-- TODO 댓글 수정  -->
              {% if session['user'] == reply.user_email %}
                  <a class="reply-component__touch" href="#">수정</a>
                  <a class="reply-component__delete" href="{{ url_for('detail.delete_reply', reply_idx=reply.idx)}}">삭제</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% if session['user'] %}
        <form action="{{ url_for('detail.create_reply', book_idx=book.idx) }}" method="post" class="replay_form">
            <div class="star-rating">
              <input type="radio" id="5-stars" name="rating" value="5" />
              <label for="5-stars" class="star">&#9733;</label>
              <input type="radio" id="4-stars" name="rating" value="4" />
              <label for="4-stars" class="star">&#9733;</label>
              <input type="radio" id="3-stars" name="rating" value="3" checked="chekced"/>
              <label for="3-stars" class="star">&#9733;</label>
              <input type="radio" id="2-stars" name="rating" value="2" />
              <label for="2-stars" class="star">&#9733;</label>
              <input type="radio" id="1-star" name="rating" value="1" />
              <label for="1-star" class="star">&#9733;</label>
            </div>
            <div class="form-group">
                <input class="form-control" name="reply" id="reply" placeholder="리뷰를 작성해주세요."></input> 
            </div>
            <input class="btn btn-primary" type="submit" value="리뷰 올리기">
        </form>
      {% endif %}
    </div>
    <div class="detail_item"><h1></h1></div>
  </div>
</div>


{% endblock %}

