{% extends "base.html" %}
{% block title %}메인페이지{% endblock %}

{% block page_title %}<h1>대문페이지</h1>{% endblock %}
{% block page_content %}

{% for book in books %}
    <div class='list_wrap'>
        <ul class='list_wrap__ul'>
            <li class='list_wrap__li'>
                <div class='list_wrap__li__image'>사진</div>
                <div class='list_wrap__li__contents'>
                    <div class='list_wrap__li__title'>{{ book.name }}</div>
                    <div class="list_wrap__li__star">평점을 작성</div>
                    <div class="list_wrap__li__count">{{ book.count }}</div>
                    <a href="#" class='list_wrap__li__a'>대여하기</a>
                </div>
            </li>
        </ul>
    </div>
{% endfor %}
{% endblock %}

