{% extends "base.html" %}
{% block title %}회원가입{% endblock %}

{% block page_title %}<h1>회원가입</h1>{% endblock %}
{% block page_content %}
    <form action="{{ url_for('register.register') }}" method="post" id="login-form">
        <input name="user_email" required type="text" placeholder="Email"/>
        <input name="user_pw" type="password" placeholder="Password"/>
        <input name="user_pw2" type="password" placeholder="Password"/>
        <input name="user_name" type="text" placeholder="Name"/>
        <input type="submit" value="Register"/>
    </form>
    

{% endblock %}
